<footer class="page-footer">
	<div class="valign-wrapper">
		<div class="row">
			<div class="footerLinks col l6 m12 s12">
				<h2 class="valign-wrapper"><i class="material-icons left">link</i>Links</h2>
				<ul>
					<li>
						<a href="https://scholar.google.com/citations?user=pR8eT_sAAAAJ" target="_blank" title="Google Scholar for Geoffrey Geise">
							Geise Group Publications
						</a>
					</li>
					<li>
						<a href="https://engineering.virginia.edu/" target="_blank" title="U.Va. School of Engineering and Applied Science">
							School of Engineering &amp; Applied Science
						</a>
					</li>
					<li>
						<a href="https://engineering.virginia.edu/future-grads/graduate-admission" target="_blank" title="U.Va. Graduate Admissions">
							Graduate Admissions
						</a>
					</li>
				</ul>
			</div>
			<div class="col l6 m12 s12">
				<a href="https://engineering.virginia.edu/" title="SEAS at U.Va.">
					<img src="{{ "/assets/images/che_logo.png" | absolute_url }}" alt="uva chemical engineering school logo"/>
				</a>
			</div>
		</div>
	</div>
    <div class="footer-copyright">
        <div class="container">
            © {{ currentYear | date: "%Y" }} Geise Research Group at the
            <a class="grey-text text-lighten-4" href="http://www.virginia.edu/">University of Virginia</a>
        </div>
    </div>
</footer>
