<footer class="page-footer">
	<div class="valign-wrapper">
		<div class="row">
			<div class="footerLinks col l6 m12 s12">
				<h2 class="valign-wrapper"><i class="material-icons left">link</i>Links</h2>
				<ul>
					<li>
						<a href="{{ "/archive" | absolute_url }}" title="Geise Group News Archive">
							News Archive
						</a>
					</li>
					<li>
						<a href="https://scholar.google.com/citations?user=pR8eT_sAAAAJ" target="_blank" rel="noopener" title="Google Scholar for Geoffrey Geise">
							Publications
						</a>
					</li>
					<li>
						<a href="https://engineering.virginia.edu/" target="_blank" rel="noopener" title="UVA School of Engineering and Applied Science">
							School of Engineering &amp; Applied Science
						</a>
					</li>
					<li>
						<a href="https://engineering.virginia.edu/future-grads/graduate-admission" target="_blank" rel="noopener" title="UVA Graduate Admissions">
							Graduate Admissions
						</a>
					</li>
				</ul>
			</div>
			<div class="footerSEASLogo col l6 m12 s12">
				<a href="https://engineering.virginia.edu/" title="UVA Engineering">
					<img src="{{ "/assets/images/geise_logo.png" | absolute_url }}" alt="uva chemical engineering school logo" class="responsive-img"/>
				</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© {{ 'now' | date: "%Y" }} Geise Research Group at the
			<a class="grey-text text-lighten-4" href="http://www.virginia.edu/">University of Virginia</a>
		</div>
	</div>
</footer>
