footer.page-footer {
	background-color: $uva-blue;

	img {
		max-width: 400px;

		@media #{$medium-and-down} {
			display: block;
			margin: 0 auto;
		}

		@media #{$small-and-down} {
			width: 400px;
		}
	}

	.footerLinks {
		padding-top: 2%;
		h2,
		a {
			color: white;
		}

		h2 {
			text-transform: uppercase;
			font-size: 1rem;
			margin: 0;
			letter-spacing: 3px;
		}

		@media #{$medium-and-down} {
			text-align: center;

			h2 {
				display: block;
				text-align: center;
			}

			i {
				display: none;
			}
		}
	}

	.footerSEASLogo {
		padding-top: 4%;
	}

	.footer-copyright {
		background-color: $uva-lt-blue;
		text-align: center;
		color: white;
	}
}
