a {
	color: $uva-orange;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

h1 {
	text-transform: uppercase;
	font-size: 2rem;
	text-align: center;
	font-weight: 600;
}

h2 {
	font-size: 1.5rem;
	font-weight: 500;
	color: $uva-lt-blue;
	margin: 10% 1% 1%;
}

h3 {
	font-size: 1.25rem;
	font-weight: 500;
}

h4 {
	font-size: 1rem;
}

.divider {
	background-color: $uva-lt-blue;
}

.collapsible {
	width: 85%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;

	@media #{$small-and-down} {
		width: 100%;
	}

	p:first-child {
		margin-top: 0;
	}

	.collapsible-header {
		color: $uva-lt-blue;
		font-weight: 500;
	}

	.collapsible-body {
		p {
			font-weight: 500;
		}

		ul {
			margin-left: 5%;
		}

		ul:not(.browser-default) > li {
			list-style-type: disc;
		}
	}
}

.card {
	.card-title {
		font-size: 20px;
		color: $uva-lt-blue;
		font-weight: 300;
	}

	.card-action {
		background-color: $uva-lt-blue;
		padding: 1px 24px;
		color: white;
	}
}

.carousel {
	height: 300px;
	perspective: 400px;

	.carousel-item {
		width: 225px;
		height: 225px;
	}
}

// SVG Animation
#geiseGroupIcons {
	margin-top: 8px;
}

#geiseGroupIconsMobile {
	margin-top: 40px;
}

#geiseGroupHomeLinkText {
	display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: top;
}
