.home {
	.card-panel {
		li {
			margin: 4%;
		}

		.btn-large {
			background-color: $uva-blue;
		}
	}

	.studentType {
		font-weight: 500;
	}

	.homeGroupPhoto img {
		max-width: 100%;
	}

	.homeIntro {
		.btn-large {
			background-color: $uva-orange;
		}
	}
}
