.home {
	h2 {
		margin-top: 1%;
	}

	.card-panel {
		li {
			margin: 4%;
		}

		.btn-large {
			background-color: $uva-blue;
		}
	}

	.studentType {
		font-weight: 500;
	}

	.homeGroupPhoto img {
		max-width: 100%;
	}

	.homeIntro,
	.latestNews {
		.btn-large {
			background-color: $uva-orange;
		}
	}

	.waterArticle,
	.groupArticle,
	.energyArticle {
		padding: 3% 0;

		.btn {
			background-color: $uva-lt-blue;
		}

		img {
			display: block;
			margin: 5% auto;
		}

		@media #{$medium-and-down} {
			padding: 0;
		}
	}

	.groupArticle {
		img {
			margin-top: 12%;

			@media #{$medium-and-down} {
				margin-top: 3%;
			}
		}
	}

	.publications,
	.joinGeiseGroup,
	.latestNews {
		h2 {
			color: black;
		}
	}
}
