nav {
	background-color: $uva-blue;
	padding-left: 1%;

	.dropdown-content li:hover,
	.dropdown-content li.active,
	.dropdown-content li.selected {
		background-color: $uva-lt-blue;
	}

	.dropdown-content li > a,
	.dropdown-content li > span {
		color: $uva-blue;

		&:hover {
			color: white;
		}
	}

	li:hover {
		background-color: $uva-lt-blue;
	}

	@media #{$medium-and-down} {
		.brand-logo {
			font-size: 1.5rem;
		}

		#geiseGroupIcons {
			display: none;
		}
	}

	@media #{$small-and-down} {
		.brand-logo {
			font-size: 1.1rem;
		}
	}
}

#mobile-demo {
	li a:hover {
		color: white;
	}

	img {
		width: 275px;
		padding-left: 25px;
		padding-top: 25px;
	}

	.googleScholar {
		text-align: center;
		min-width: 200px;
		margin: 15%;
		border: solid 2px $uva-lt-blue;

		a {
			color: $uva-lt-blue;

			&:hover {
				background-color: $uva-lt-blue;
				color: white;
			}
		}

		svg {
			font-size: 40px;
			margin-right: 10px;
		}
	}
}
