.people {
	.geise {
		a.btn {
			background-color: $uva-orange;
		}
	}

	.groupPhotos {
		img {
			width: 100%;
		}

		div {
			margin: 1% auto;
		}
	}

	.card-title {
		font-size: 20px;
		color: green;
		font-weight: 300;
	}

	.card-action {
		background-color: $uva-lt-blue;
		padding: 1px 24px;
		color: white;
	}

	.card-content .hometown {
		border-top: solid 1px $uva-lt-blue;
		padding-top: 2%;
		margin-top: 2%;
	}
}
