---
layout: default
---

<div class="contact">
    
    <h1 class="page-heading">Contact &amp; Directions</h1>
	
	<div class="row">

		<div class="col l4 m6 s12">
			<h2>Contact Geise Group</h2>
			<div class="divider"></div>
			<p>
				<a href="https://engineering.virginia.edu/departments/chemical-engineering" target="_blank" title="UVA Department of Chemical Engineering">Department of Chemical Engineering</a><br />
				102 Engineers' Way<br />
				P.O. Box 4007471<br />
				Charlottesville, VA 22904
			</p>
			<p><i class="material-icons left">phone</i>Laboratory Phone: <a href="tel:+4349240175">434.924.0175</a></p>
			<p><i class="material-icons left">phone</i>Prof. Geise Phone: <a href="tel:+4349246248">434.924.6248</a></p>
			<p><i class="material-icons left">mail</i>Prof. Geise Email: geise@virginia.edu</p>
		</div>
		
		<div class="col l4 m6 s12">
			<h2>On Grounds at U.Va.</h2>
			<div class="divider"></div>
			<p>Our laboratory is located on the 3rd floor of the Chemical Engineering Building at the University of Virginia.</p>
			<p>Professor Geise's office is located on the 2nd floor of the Chemical Engineering Building.</p>
		</div>
		
		<div class="col l4 m6 s12">
			<h2>Visitor Parking</h2>
			<div class="divider"></div>
			<p>Public parking is available at the Central Grounds Parking Garage. The Chemical Engineering Building is a 5 &mdash; 10 minute walk from the parking garage.</p>

			<p><a href="http://www.virginia.edu/parking/facilities/central.html" target="_blank" title="Central Grounds Parking Garage">Central Grounds Parking Garage</a><br />
			400 Emmet St N Charlottesville, VA 22903</p>
		</div>

	</div>
    
	<!-- Embedded Map -->
     <iframe width='80%' height='400px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/rmhcharlottesville.lfe6cf5l/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoicm1oY2hhcmxvdHRlc3ZpbGxlIiwiYSI6ImRFaE1pNHMifQ.g7g0LClyS9M88Q3GFyn9hA'>
    </iframe>
</div>
