---
layout: default
---

<div class="contact">
	
	<h1 class="page-heading">{{ page.title }}</h1>
	
	<div class="row">
		
		<div class="col l4 m6 s12">
			<h2>Contact Geise Group</h2>
			<p>
				<a href="https://engineering.virginia.edu/departments/chemical-engineering" target="_blank" rel="noopener" title="UVA Department of Chemical Engineering">Chemical Engineering</a><br />
				385 McCormick Road<br />
				Charlottesville, VA 22903
			</p>
			<p><i class="material-icons left">phone</i>Laboratory Phone: <a href="tel:+4349240175">434.924.0175</a></p>
			<p><i class="material-icons left">phone</i>Prof. Geise Phone: <a href="tel:+4349246248">434.924.6248</a></p>
			<p><i class="material-icons left">mail</i>Prof. Geise Email: geise@virginia.edu</p>
		</div>
		
		<div class="col l4 m6 s12">
			<h2>On Grounds at UVA</h2>
			<p>Our laboratory is located on the 3rd floor of the Chemical Engineering Building at the University of Virginia.</p>
			<p>Professor Geise's office is located on the 2nd floor of the Chemical Engineering Building.</p>
		</div>
		
		<div class="col l4 m6 s12">
			<h2>Visitor Parking</h2>
			<p>Public parking is available at the Central Grounds Parking Garage in addition to hourly parking across Grounds. The Chemical Engineering Building is a 5 &mdash; 10 minute walk from the parking garage.</p>
			
			<p><a href="https://parking.virginia.edu/visitor-parking" target="_blank" rel="noopener" title="Central Grounds Parking Garage">Visitor Parking Options</a></p>
		</div>
			
	</div>
		
	<!-- Embedded Map -->
	<iframe title="Map showing the location of 385 McCormick Road, Charlottesville, VA 22903 provided via Google Maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3936.4165389954014!2d-78.51331308781346!3d38.03342587180425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b387006e3b50f1%3A0x28043ded2c884906!2sChemical%20Engineering%20Research%20Building!5e1!3m2!1sen!2sus!4v1767976122217!5m2!1sen!2sus" width="80%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
	</iframe>
</div>
