---
layout: default
---

<div class="energy container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<p><a href="https://www.eia.gov/outlooks/ieo/" target="_blank" rel="noopener">Energy demand around the globe</a> is projected to increase by more than 50% over the next 35 years, and sustainable, low-carbon footprint energy resources are needed to meet this increasing energy demand. While electricity generation from renewable sources is expected to grow over the next 25 years, the viability of this form of energy generation is challenged by the uneven nature of electricity production from many renewable sources, such as wind or solar power, so energy storage solutions (such as the vanadium redox flow battery depicted below) are needed to capture this energy and provide it to the grid as needed.</p>
	
	<img src="{{ "/assets/images/energy/vanadium_redox_flow_battery_diagram.jpg" | absolute_url }}" alt="vanadium redox flow battery diagram">
	
	<p>Large-scale flow batteries are being developed to meet these energy storage needs. Additionally, energy generation technologies, such as reverse electrodialysis and capacitive mixing, that <a href="http://www.dx.doi.org/10.1038/nature11477" target="_blank" rel="noopener">harness energy from salt concentration differences</a> are being developed, and these technologies seek to produce electricity by taking advantage of the chemical energy contained in solutions of different concentration. These technologies <a href="http://pubs.rsc.org/en/Content/ArticleLanding/2014/EE/C4EE01303D#!divAbstract" target="_blank" rel="noopener">rely on polymer membranes</a> to regulate ion transport.</p>
	
	<p>Membranes for energy technologies must be designed to function efficiently in ionic environments that are often very different from those encountered in natural water sources. Little is known about how different ions and complex ion mixtures influence polymer membrane transport properties, and our research seeks to understand fundamental relationships between ions and polymers that contribute to selectivity in energy applications. Improved membrane selectivity, achieved by optimizing polymer chemistry and structure, for energy applications will enable development of improved renewable energy storage and generation technologies.</p>
	
	<img src="{{ "/assets/images/energy/salinity_gradient_energy.jpg" | absolute_url }}" alt="salinity gradient energy">

</div>
