---
layout: default
---

<div class="facilities container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<p>Our laboratory is well equipped to synthesize and prepare polymer membranes and to characterize transport and other polymer properties. Dedicated transport property measurement cells and equipment are coupled with state-of-the-art analytical equipment to characterize a wide range of water and ion transport properties in polymers.<p> 

	<p> Please feel free to <a href="{{ "/contact" | absolute_url }}" title="Contact Page">contact</a> us for more information on our experimental capabilities. In addition to computing resources for data collection and analysis, standard laboratory supplies, and a dedicated ultra-pure water system (Millipore), our laboratory capabilities include:</p>
	
	<div class="carousel">
		{% assign facilitiesImages = site.facilitiesImages | sort: 'orderBy' %}
		{% for item in facilitiesImages %}
			<img 
			class="carousel-item" 
			src="{{ "/assets/images/facilities/" | append: item.file | absolute_url }}"
			alt="{{ item.alt }}">
		{% endfor %}
	</div>
	
	<!-- Facilities Collection !-->
	{% assign facilities = site.facilities | sort: 'orderBy' %}
	{% for item in facilities %}
		<ul class="collapsible popout" data-collapsible="accordion">
			<li> 
				<!-- Header Tab !-->
				<div class="collapsible-header">
					<i class="material-icons">chevron_right</i>
					{{ item.title }}
				</div>
				
				<!-- Content !-->
				<div class="collapsible-body">
					{% for elem in item.elements %}
					
					<!-- Top Level Item !-->
					<p>{{ elem.name }}</p>
					
						<!-- Bullet Points (optional) !-->
						{% if elem.details %}
							<ul>
								{% for detail in elem.details %}
								<li>{{detail.text}}</li>
								{% endfor %}
							</ul>
						{% endif %}
						
					{% endfor %}
				</div>
			</li>
		</ul>
	{% endfor %}
	
</div>
