---
layout: default
---

<div class="home container">
    
    <h1 class="page-heading">Polymer Membrane Research at UVA</h1>
	<div class="row">
		<div class="col s12 m8 l8 push-l2 push-m2 homeGroupPhoto">
			<img src="{{ "/assets/images/people/geisegroup_fall17.jpg" | absolute_url }}" alt="geise research group" class="z-depth-3" />
		</div>
		<div class="col s12 m10 l10 push-l1 push-m1 center-align homeIntro">
			<p>The Geise research group seeks to develop structure/property/ processing relationships to guide polymeric materials design for membrane-based liquid separation and energy applications by understanding the influence of nano- and molecular-scale interactions and phenomena on mass transfer and system-level performance.</p>
		
			<p>We are located in the <a href="https://engineering.virginia.edu/departments/chemical-engineering" target="_blank">Department of Chemical Engineering</a> at the University of Virginia.<p>
				
			<a href="{{ "/contact" | absolute_url }}" class="waves-effect waves-light btn-large">Contact the Geise Group</a>
		</div>
	</div>
	
	<div class="row">
		
		<!-- Publications !-->
		<div class="col s12 m6 l6">
			<div class="card-panel">
				<h2 class="center-align">Publications</h2>
				<ul>
					<li>
						<a class="waves-effect waves-light btn-large">Google Scholar</a>
					</li>
					<li>
						<a class="waves-effect waves-light btn-large">Orchid</a>
					</li>
					<li>
						<a class="waves-effect waves-light btn-large">ResearcherID</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- Join Geise Group Card !-->
		<div class="col s12 m6 l6">
			<div class="card-panel">
				<h2 class="center-align">Join the Geise Research Group</h2>
				<p>
					<span class="studentType">Prospective 
						<a href="https://engineering.virginia.edu/departments/chemical-engineering/graduate-studies-che" 
						target="_blank" 
						title="uva graduate studies">
						graduate students
						</a>
					</span>
					interested in joining the group should indicate their interest when 
					<a 
					href="https://engineering.virginia.edu/how-apply" 
					target="_blank" 
					title="graduate admissions office">
					applying for admission
					</a> 
					to the Department of Chemical Engineering at UVA
				</p>

				<p>
					<span class="studentType">Undergraduate students</span> interested in research opportunities should <a href="{{ "/contact" | absolute_url }}" title="contact page">contact Prof. Geise</a> directly to discuss possible projects and conditions for joining the group.
				</p>
			</div>
		</div>
	</div>
    
</div>
