---
layout: default
---

<div class="home container">
    
    <h1 class="page-heading">Geise Research Group</h1>
    
    {{ content }}
	
	<div class="row">
		
		<!-- Publications !-->
		<div class="col s12 m6 l6">
			<div class="card-panel">
				<h2>Publications</h2>
				<ul>
					<li>
						<a class="waves-effect waves-light btn-large">Google Scholar</a>
					</li>
					<li>
						<a class="waves-effect waves-light btn-large">Orchid</a>
					</li>
					<li>
						<a class="waves-effect waves-light btn-large">ResearcherID</a>
					</li>
				</ul>
			</div>
		</div>
		
		<!-- Join Geise Group Card !-->
		<div class="col s12 m6 l6">
			<div class="card-panel">
				<h2>Join the Geise Research Group</h2>
				<p>
					<span class="studentType">Prospective 
						<a href="https://engineering.virginia.edu/departments/chemical-engineering/graduate-studies-che" 
						target="_blank" 
						title="uva graduate studies">
						graduate students
						</a>
					</span>
					interested in joining the group should indicate their interest when 
					<a 
					href="https://engineering.virginia.edu/how-apply" 
					target="_blank" 
					title="graduate admissions office">
					applying for admission
					</a> 
					to the Department of Chemical Engineering at UVA
				</p>

				<p>
					<span class="studentType">Undergraduate students</span> interested in research opportunities should <a href="{{ "/contact" | absolute_url }}" title="contact page">contact Prof. Geise</a> directly to discuss possible projects and conditions for joining the group.
				</p>
			</div>
		</div>
	</div>
    
</div>
