---
layout: default
---

<div class="archive container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<div class="row archiveLinks">
		{% assign currentYear = 'now' %}
		<div class="col l3 m3 s6">
			{% assign currentYearFormat = currentYear | date: "%Y" %}
			<a href="{{ "/archive/" | append:currentYearFormat | absolute_url }}" class="waves-effect waves-light btn">{{ currentYear | date: "%Y" }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign lastYearFormat = currentYear | date:'%s' | minus:31557600 | date:"%Y" %}
			<a href="{{ "/archive/" | append:lastYearFormat | absolute_url }}" class="waves-effect waves-light btn">{{ lastYearFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign TwoYearsAgoFormat = currentYear | date:'%s' | minus:63115200 | date:"%Y" %}
			<a href="{{ "/archive/" | append:TwoYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ TwoYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign ThreeYearsAgoFormat = currentYear | date:'%s' | minus:94672800 | date:"%Y" %}
			<a href="{{ "/archive/" | append:ThreeYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ ThreeYearsAgoFormat }} News Archive</a>
		</div>
	</div>
	<div class="row">
		{% assign newsItems = site.newsItems | where_exp:"item","item.year == page.limitYear" | sort: 'date' | reverse %}

		{% for item in newsItems %}
		<div class="newsItem col s10 push-s1 m12">
			<div class="card horizontal">
				
				{% if item.image %}
				<div class="card-image">
					<img src="{{ "/assets/images/news/" | append: item.image | absolute_url }}">
				</div>
				{% endif %}
				
				<div class="card-stacked">
					<div class="card-action">
						<h3>{{ item.date | date: "%B %Y" }}</h3>
					</div>
					<div class="card-content">
						<span class="card-title">{{ item.title }}</span>
						<p>{{ item.text }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
