---
layout: default
---

<div class="archive container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<div class="row archiveLinks">
		{% assign currentYear = 'now' %}
		<div class="col l3 m3 s6">
			{% assign currentYearFormat = currentYear | date: "%Y" %}
			<a href="{{ "/archive/" | append:currentYearFormat | absolute_url }}" class="waves-effect waves-light btn">{{ currentYear | date: "%Y" }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign lastYearFormat = currentYear | date:'%s' | minus:31557600 | date:"%Y" %}
			<a href="{{ "/archive/" | append:lastYearFormat | absolute_url }}" class="waves-effect waves-light btn">{{ lastYearFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign TwoYearsAgoFormat = currentYear | date:'%s' | minus:63115200 | date:"%Y" %}
			<a href="{{ "/archive/" | append:TwoYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ TwoYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign ThreeYearsAgoFormat = currentYear | date:'%s' | minus:94672800 | date:"%Y" %}
			<a href="{{ "/archive/" | append:ThreeYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ ThreeYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign FourYearsAgoFormat = currentYear | date:'%s' | minus:126230400 | date:"%Y" %}
			<a href="{{ "/archive/" | append:FourYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ FourYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign FiveYearsAgoFormat = currentYear | date:'%s' | minus:157788000 | date:"%Y" %}
			<a href="{{ "/archive/" | append:FiveYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ FiveYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign SixYearsAgoFormat = currentYear | date:'%s' | minus:189345600 | date:"%Y" %}
			<a href="{{ "/archive/" | append:SixYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ SixYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign SevenYearsAgoFormat = currentYear | date:'%s' | minus:220903200 | date:"%Y" %}
			<a href="{{ "/archive/" | append:SevenYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ SevenYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign EightYearsAgoFormat = currentYear | date:'%s' | minus:252460800 | date:"%Y" %}
			<a href="{{ "/archive/" | append:EightYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ EightYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign NineYearsAgoFormat = currentYear | date:'%s' | minus:284018400 | date:"%Y" %}
			<a href="{{ "/archive/" | append:NineYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ NineYearsAgoFormat }} News Archive</a>
		</div>
		<div class="col l3 m3 s6">
			{% assign TenYearsAgoFormat = currentYear | date:'%s' | minus:315576000 | date:"%Y" %}
			<a href="{{ "/archive/" | append:TenYearsAgoFormat | absolute_url }}" class="waves-effect waves-light btn">{{ TenYearsAgoFormat }} News Archive</a>
		</div>
	</div>
	<div class="row">
		{% assign newsItems = site.newsItems | where_exp:"item","item.year == page.limitYear" | sort: 'date' | reverse %}

		{% for item in newsItems %}
		<div class="newsItem col s10 push-s1 m12">
			<div class="card horizontal">
				
				{% if item.image %}
				<div class="card-image">
					<img src="{{ "/assets/images/news/" | append: item.image | absolute_url }}" alt={{item.title}}>
				</div>
				{% endif %}
				
				<div class="card-stacked">
					<div class="card-action">
						<h3>{{ item.date | date: "%B %Y" }}</h3>
					</div>
					<div class="card-content">
						<span class="card-title">{{ item.title }}</span>
						<p>{{ item.text }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
