---
layout: default
---

<div class="people container">
	<h1 class="page-heading">{{ page.title }}</h1>
	
	<!-- Geoffrey Geise !-->
	<div class="geise row">
		<img class="col s6 pull-s3 m4 l4 right" src="/assets/images/people/geise.jpg" alt="geoffrey geise" />
		<div class="col s12 m8 l8">
			<h2>Geoffrey M. Geise, Ph.D.</h2>
			<h3>Assistant Professor of Chemical Engineering<h3>
			<h4>Affiliate faculty in the NanoSTAR Institute at UVA</h4>
			
			<p>
				Ph.D. Chemical Engineering, The University of Texas at Austin, 2012<br>
				M.S.E. Chemical Engineering, The University of Texas at Austin, 2010<br>
				B.S. Chemical Engineering, The Pennsylvania State University, 2007
			</p>
			
			<a href="/assets/docs/cv.pdf" target="_blank" title="geise cv" class="waves-effect waves-light btn-large"><i class="material-icons left">description</i>Curriculum Vitae</a>
		</div>
	</div>
		
	<h2>Geise Group Members</h2>
	<div class="groupMembers row">
		{% assign groupMembers = (site.groupMembers | sort: 'orderBy') %}
		{% for item in groupMembers %}
		<div class="col s10 push-s1 m12">
			<div class="card horizontal">
				<div class="card-image">
					<img src="/assets/images/people/{{ item.image }}">
				</div>
				<div class="card-stacked">
					<div class="card-action">
						<h3>{{ item.name }}</h3>
					</div>
					<div class="card-content">
						<span class="card-title">{{ item.title }}</span>
						
						<!-- Degrees !-->
						{% for degree in item.degrees %}
							<p>{{ degree.text }}</p>
						{% endfor %}
						
						<p class="hometown">Hometown: {{ item.hometown }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<h2>Undergraduate Researchers</h2>
	<div class="undergradResearchers row">
		{% for item in site.undergraduateResearchers %}
		<div class="col s12 m6">
			<div class="card">
				<div class="card-action">
					<h3>{{ item.name }}</h3>
				</div>
				<div class="card-content">
					<span class="card-title">{{ item.title }}</span>
					<p>{{ item.majors }}</p>
					<p>Class of {{ item.class }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
			
			
	<h2>Alumni</h2>
	{% assign alumniMembers = (site.alumniMembers | sort: 'orderBy') %}
	{% for item in alumniMembers %}
	<h3>{{ item.name }}</h3>
	<span class="card-title">{{ item.title }}</span>
	<p><span class="afterPrefix">{{ item.afterPrefix }}:</span> {{ item.afterText }}</p>
	
	{% endfor %}
	
	<h2>Group Photos</h2>
	<div class="groupPhotos row">
		{% assign groupPhotos = (site.groupPhotos | sort: 'orderBy') | reverse %}
		{% for item in groupPhotos %}
		<div class="col s12 m6 l6">
			<img 
			class="materialboxed"
			src="/assets/images/people/{{ item.file }}"
			data-caption="{{ item.alt }}"
			alt="{{ item.alt }}">
		</div>
		{% endfor %}
	</div>
</div>
