---
layout: default
---

<div class="people container">
	<h1 class="page-heading">{{ page.title }}</h1>
	
	<!-- Geoffrey Geise !-->
	<div class="geise row">
		<img class="col s6 pull-s3 m6 l4 right" src="{{ "/assets/images/people/geise.jpg" | absolute_url }}" alt="geoffrey geise" />
		<div class="col s12 m6 l8">
			<h2>Geoffrey M. Geise, Ph.D.</h2>
			<h3>Associate Professor of Chemical Engineering<br>
				Associate Professor of Materials Science & Engineering (by courtesy)<h3>
			<h4>Affiliate faculty in the NanoSTAR Institute at UVA</h4>
			
			<div class="degrees">
				<ul class="collection">
					<li class="collection-item">Ph.D. Chemical Engineering, The University of Texas at Austin, 2012</li>
					<li class="collection-item">M.S.E. Chemical Engineering, The University of Texas at Austin, 2010</li>
					<li class="collection-item">B.S. Chemical Engineering, The Pennsylvania State University, 2007</li>
				</ul>
			</div>
			<a href="{{ "/assets/docs/cv.pdf" | absolute_url }}" target="_blank" rel="noopener" title="geise cv" class="waves-effect waves-light btn-large"><i class="material-icons left">description</i>Curriculum Vitae</a>
		</div>
	</div>
		
	<h2>Geise Group Members</h2>
	<div class="groupMembers row">
		{% assign groupMembers = site.groupMembers | sort: 'orderBy' %}
		{% for item in groupMembers %}
		<div class="col s10 push-s1 m12">
			<div class="card horizontal">
				<div class="card-image">
					<img src="{{ "/assets/images/people/" | append: item.image | absolute_url }}" alt={{ item.name }}>
				</div>
				<div class="card-stacked">
					<div class="card-action">
						<h3>{{ item.name }}</h3>
					</div>
					<div class="card-content">
						<span class="card-title">{{ item.title }}</span>
						
						<!-- Degrees !-->
						{% for degree in item.degrees %}
							<p>{{ degree.text }}</p>
						{% endfor %}
						
						<p class="hometown">Hometown: {{ item.hometown }}</p>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<h2>Undergraduate Researchers</h2>
	<div class="undergradResearchers row">
		{% for item in site.undergraduateResearchers %}
		<div class="col s12 m6">
			<div class="card">
				<div class="card-action">
					<h3>{{ item.name }}</h3>
				</div>
				<div class="card-content">
					<span class="card-title">{{ item.title }}</span>
					<p>{{ item.majors }}</p>
					<p>Class of {{ item.class }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
			
			
	<h2>Alumni</h2>
	<div class="alumniMembers row">
		{% assign alumniMembers = site.alumniMembers | sort: 'orderBy' %}
		{% for item in alumniMembers %}

		<div class="col s12 m6">
			<div class="card">
				<div class="card-action">
					<h3>{{ item.name }}</h3>
				</div>
				<div class="card-content">
					<span class="card-title">{{ item.title }}</span>
					<p>{{ item.afterPrefix }}:</p>
					<p>{{ item.afterText }}</p>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	
	<h2>Group Photos</h2>
	<div class="groupPhotos row">
		{% assign groupPhotos = site.groupPhotos | sort: 'orderBy' | reverse %}
		{% for item in groupPhotos %}
		<div class="col s12 m6 l6">
			<img 
			class="materialboxed"
			src="{{ "/assets/images/people/" | append: item.file | absolute_url }}"
			data-caption="{{ item.alt }}"
			alt="{{ item.alt }}">
		</div>
		{% endfor %}
	</div>
</div>
