---
layout: default
---

<div class="people container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<div class="row">
		<div class="col s12 m12 l12">
			<div class="card-panel">
				<h2>Interested in joining the Geise Research Group?</h1>
				<p>
					<span class="studentType">Prospective 
						<a href="https://engineering.virginia.edu/departments/chemical-engineering/graduate-studies-che" 
						target="_blank" 
						title="uva graduate studies">
						graduate students
						</a>
					</span>
					interested in joining the group should indicate their interest when 
					<a 
					href="https://engineering.virginia.edu/how-apply" 
					target="_blank" 
					title="graduate admissions office">
					applying for admission
					</a> 
					to the Department of Chemical Engineering at UVA
				</p>

				<p>
					<span class="studentType">Undergraduate students</span> interested in research opportunities should <a href="/contact.html" title="contact page">contact Prof. Geise</a> directly to discuss possible projects and conditions for joining the group.
				</p>
			</div>
		</div>
	</div>
	
</div>
