---
layout: default
---

<div class="water container">
	<h1 class="page-heading">{{ page.title }}</h1>
	<p>According to the <a href="http://www.unwater.org/" target="_blank">United Nations</a>, nearly one fifth of the world’s population is believed to live in regions of the world that lack physical access to sufficient amounts of water, and nearly one quarter of the world’s population lacks sufficient access to water due to economic constraints. These startling figures will become more severe as water use is increasing at nearly twice the population growth rate. Within the next 10 years, the United Nations predicts that nearly two-thirds of the world’s population may find themselves living in a water stressed area.</p>
	
	<img src="{{ "/assets/images/water/membrane_desalination.jpg" | absolute_url }}" alt="membrane desalination diagram">
	
	<p>Increasingly saline and contaminated water sources will need to be purified in order to satisfy growing personal, agricultural, and industrial water needs around the world. Membrane-based technologies currently dominate the water desalination market. Today, the vast majority of desalination processes are performed using <a href="http://www.dx.doi.org/10.1002/polb.22037" target="_blank">polymer-based membranes</a>.</p>
	
	<p><a href="http://www.sciencedirect.com/science/article/pii/S0079670013000804" target="_blank">Improved membranes</a> are needed to meet the challenges of economically and sustainably purifying increasingly saline and contaminated water sources around the globe, and this need represents an opportunity for polymer science. Our research seeks to understand how salt ions and other contaminants in water interact with polymer membranes. These interactions are critical for understanding how to manipulate polymer structure to optimize membrane selectivity for <a href="http://onlinelibrary.wiley.com/doi/10.1002/anie.201409783/abstract" target="_blank">water purification applications</a>.</p>
	
	<img src="{{ "/assets/images/water/membrane_diagram.jpg" | absolute_url }}" alt="membrane diagram">

</div>
